#cs1300-gallery {
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
  font-family: "Comic Sans MS";
  color: rgb(255, 90, 115);
}

.gallery-item-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gallery-item {
  height: 90%;
}
.gallery-item:hover {
  box-shadow: 2px 2px 2px 4px teal;
}